@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');

body {
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue;
  
}

 

.container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));


}

.container img {
    width: 20em;
    height: auto;
    border-radius:10px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.95);
    margin-left:15px;
 
    margin-bottom: 15px;
}

.container img:hover {
    box-sizing: border-box;
    border: 3px solid white;
    transform: scale(1.3);
}